#A comparison of K-means and K-medoid clustering algorithms

In [1]:
import pandas
import numpy
import seaborn

from sklearn.preprocessing import StandardScaler

In [4]:
product_data = pandas.read_excel('./dataset/sku_data.xlsx')
product_data.head()

,ID,Unitprice,Expire date,Outbound number,Total outbound,Pal grossweight,Pal height,Units per pal
0,1,0.058,547,9,2441.0,105.60,1.56,1920
1,2,0.954,547,0,0.0,207.68,1.00,384
2,3,2.385,547,12,23.0,165.78,1.02,108
3,4,5.100,547,0,0.0,221.04,1.05,72
4,5,0.000,547,0,0.0,0.00,0.00,0

Dropping the `ID` column right away...

In [5]:
product_data.drop('ID', axis=1, inplace=True)
product_data.head()

,Unitprice,Expire date,Outbound number,Total outbound,Pal grossweight,Pal height,Units per pal
0,0.058,547,9,2441.0,105.60,1.56,1920
1,0.954,547,0,0.0,207.68,1.00,384
2,2.385,547,12,23.0,165.78,1.02,108
3,5.100,547,0,0.0,221.04,1.05,72
4,0.000,547,0,0.0,0.00,0.00,0

#Data preprocessing

##Scaling

In [7]:
scaler = StandardScaler()
transformed_data = scaler.fit_transform(product_data)

array([[-0.29153064,  0.56734029, -0.32421618, ..., -0.53067939,
         1.60726172,  0.18550668],
       [-0.22950582,  0.56734029, -0.33707191, ...,  0.08956347,
         0.59276189, -0.05919386],
       [-0.13044609,  0.56734029, -0.31993094, ..., -0.16502289,
         0.62899403, -0.10316348],
       ...,
       [-0.29554564, -1.70404153, -0.33707191, ..., -0.93923278,
        -1.21884495, -0.11973175],
       [-0.29554564, -1.70404153, -0.3356435 , ..., -1.01974041,
        -1.21884495, -0.11989106],
       [-0.29554564,  0.56734029, -0.22851243, ..., -0.53067939,
        -1.21884495,  0.18550668]])